{% extends 'base.html' %}
{% block title %}Create Article🔖{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h1>Submit Your Editorial Work</h1>
    <p>We are excited to see your contributions! Share your fashion articles and let us help you promote your brand.</p>
    <h2>How to Submit Editorial Work:</h2>
    <p>Send an email with your images and credits attached to Littlecouture@uk.com </p>
    <p>Fill out the form below to submit your article for review. Our team will review your submission and get back to you as soon as possible.</p>
    
    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% else %}
    <p>You need to <a href="{% url 'account_login' %}">log in</a> to create an article.</p>
    {% endif %}
</div>
{% endblock %}