{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Hero Image section-->

<main class="container-fluid p-0">
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="hero-image hero-image-1">
                    <div class="hero-text text-center">
                        <h1>Share your Fashion Articles and LEts help you to Promote your brand</h1>
                        <a href = "{% url 'about' %}" class="btn btn-primary btn-lg">Let's Collaborate</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-image hero-image-2">
                    <div class="hero-text text-center">
                        <h1>Join us to Explore</h1>
                        <a href="{% url 'account_login' %}" class="btn btn-primary btn-lg">Log-in</Log-in></a>
                        
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="hero-image hero-image-3">
                    <div class="hero-text text-center text-white">
                        <h1>Explore the Kids Fashion Event happening Soon!</h1>
                        <a href="{% url 'event_list' %}" class="btn btn-primary btn-lg">Events</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/defaultblog.jpg' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                        alt="{{ post.title }}">
                                    {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- Example form template -->
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- index.html content ends here -->
{% endblock %}